<div class="col-md-12">
  <div class="jumbotron hero">
    <div class="frosty">
      <h1>TimeTracker</h1>
      <p>No time like the present to track your projects!</p>
      <p><%= link_to "Create Account", new_account_path, class: 'btn btn-primary btn-lg', id: 'welcome-btn' %></p>
    </div>
  </div>
</div>