.panel-shadow {
  box-shadow: 0px 4px 12px rgba(133,116,133,0.90);
}

.error-messages {
  color: #830303;
}

.input-group-addon {
  background-color: #e6ddef;
}

.form-horizontal .form-control {
  /*font-family: 'xxxxxx', sans-serif;*/
  &:focus {
    border-color: #a655ea;
    /*box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(110, 201, 13, 0.6);*/
  }
}

#welcome-btn {
  background-color: #580a98;
  border-color: #321b5f;
  &:hover {
    background-color: #3b016b;
  }
}

#my-btn {
  background-color: rgba(88, 10, 152, 0.9);
  border-color: #321b5f;
}

#my-btn:hover {
  background-color: #3b016b;
}
